.container {
  width: 1070px;
  color: #3a3a3a;
}

.cardRow {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 16px;
  background-color: white;
  height: 60px;
  border-bottom: 1px solid #e5e5e5;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.title {
  display: flex;
  align-items: center;
}

.titleTextContainer {
  display: flex;
  align-items: center;
}
.importantImage {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.importantBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 20px;
  border: 1px solid #fe665c;
  border-radius: 18px;
  color: #fe665c;
  font-size: 10px;
  font-weight: 400;
}

.titleText {
  font-weight: 500;
}
.label {
  margin-right: 8px;
  color: #7c7c7c;
}
.createdAtText {
  font-weight: 500;
}

.contentBox {
  background-color: white;
  height: 480px;
  padding: 20px;
  margin-bottom: 20px;
}
.textarea {
  width: 100%;
  background-color: white;
  height: 480px;
  padding: 20px;
  margin-bottom: 20px;
}
.titleInput {
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  width: 890px;
  height: 40px;
  padding: 10px;
}
.cursor {
  cursor: pointer;
}

.accessTargetList {
  display: flex;
  gap: 8px;
  font-weight: 500;
}

.factoryTarget {
  border-right: 1px solid #dcdcdc;
  padding-right: 16px;
}
