.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 360px;
}
.title {
  font-size: 24px;
  font-weight: 700;
  color: #0b485b;
}
.login,
.password {
  width: 100%;
  font-size: 14px;
  color: #7c7c7c;
}
.login > p,
.password > p {
  margin-bottom: 8px;
}
.login_input,
.password_input {
  width: 360px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  color: #3a3a3a;
  margin-bottom: 2px;
}
.login_input::placeholder,
.password_input::placeholder {
  color: #7c7c7c;
}
.login_input:focus,
.password_input:focus {
  outline: 1px solid #005a74;
  border: 1px solid #e5e5e5 !important;
}

.login_persist {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  color: #7c7c7c;
  cursor: pointer;
}
.error_message {
  color: #fc5b54;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 18px;
}
